<!DOCTYPE html>
<html ng-app="day16_mongoose">

<head>
    <title>day16-mongoose</title>
    <meta charset="utf-8">
    <base href="/" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>
    <div class="container">
        <h1>day16-mongoose</h1>
        <div>
            <a href="/">Home</a> |
            <a href="/about">About</a> |
            <a href="/movies">Movies</a> |
        </div>
        <hr />

        <ui-view></ui-view>
    </div>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="/ngApp/app.js"></script>
    <script src="/ngApp/services/services.js"></script>
    <script src="/ngApp/services/movieService.js"></script>
    <script src="/ngApp/services/actorService.js"></script>
    <script src="/ngApp/controllers/controllers.js"></script>
    <script src="/ngApp/controllers/movieController.js"></script>
    <script src="/ngApp/controllers/movieDetailsController.js"></script>
    <script src="/ngApp/controllers/movieAddActorController.js"></script>

</body>

</html>
